@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

@keyframes slideIn{
    from {
        margin-left: 100%;
    }

    to{
        margin-left:0;
    }
}

:root{
    font-family: 'Dongle', sans-serif;
    font-size: 18px;
}

h1{
    font-size:60px;
    font-weight: 900;
}

section{
    max-width: 60vw;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 105%;
    animation-name: slideIn;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

#section-one{
    background-color: orange;
}

#section-two{
    background-color: palegoldenrod;
    animation-delay15s;
}

#section-three{
    background-color: pink;
    animation-delay:2s;
}