#title{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #0a2ff1;
}

.card{
    position: relative;
    margin-top:2%;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
}

.text{
    padding-right:1em;
    font-family: 'Mulish', sans-serif;
    color:white;
    text-align: center;
    line-height: 0.2em;
    position: absolute;
    left: 0;
    width: 100%;
    bottom:1%;
} 


.text h2{
    font-weight: 700;
}
