
.custom-heading{
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

h1{
    color: #04146c;
    font-size:49pt;
}

h2{
    font-size:37pt;
    color: #04146c;

}

h3{
    font-size: 1rem;
    color: #0a2ff1;
}
.profile-pic{
    width: 75%;
}

button{
    border: 3px solid var(--primary-color);
    background-color: transparent;
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
}

.profile p{
    padding-left:5%;
    padding-right:5%;
    font-family: "Mulish", sans-serif;
}